/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
app/Http/Livewire/Reports/CdrDetailTable.php.bak
.history/
composer.lock
storage/debugbar/*.json
composer.lock
/.wwebjs_auth
/.wwebjs_auth_bak
/.wwebjs_cache

# Log files
server.log
whatsapp.log